{% extends 'index.html' %}
{% block content %}
<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>{{ country.title }}</h3>
                    <p>{{ country.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for hotel in country.hotel_country.all %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        {% for image in hotel.hotel_image.all %}
                        <img src="{{ image.image.url }}" alt="">
                        {% endfor %}
                        <a href="{% url 'hotel_detail' hotel.id %}" class="prise">{{hotel.price}} {{ hotel.payment }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{% url 'hotel_detail' hotel.id %}"><h3>{{hotel.title}}</h3></a>
                        <p>{{country.description|truncatewords:10 }}</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">{{ hotel.comment.all.count }} отзывов</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ hotel.created|truncatewords:1  }}</a>
                            </div>
                        </div>
                        <div>
                            {% if user.is_superuser %}
                            <a class="genric-btn info-border radius" href="{% url 'hotel_update' hotel.pk %}" style = "margin-top: 10px;">Обновить</a>
                            <a class="genric-btn info-border radius" href="{% url 'hotel_delete' hotel.pk %}" style = "margin-top: 10px;">Удалить</a>
                            {% endif %}  
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}