{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- popular_destination_area_start  -->
<!-- <div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Страны</h3>
                    <p>В какую страну вы бы хотели поехать?</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for country in countries %}
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        {% for image in country.country_image.all %}
                        <img src="{{ image.image.url }}" alt="">
                        {% endfor %}
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center" href="{% url 'country_detail' country.slug %}">{{country.title }}
                            <a href="{% url 'country_detail' country.slug %}">{{country.hotel_country.all.count }} отелей</a> </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<!-- popular_destination_area_end  -->

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Страны</h3>
                    <p>В какую страну вы бы хотели поехать?</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for country in countries %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        {% for image in country.country_image.all %}
                        <img src="{{ image.image.url }}" alt="">
                        {% endfor %}
                        <a href="{% url 'country_detail' country.slug %}" class="prise">{{country.hotel_country.all.count }} отелей</a>
                    </div>
                    <div class="place_info">
                        <a href="{% url 'country_detail' country.slug %}"><h3>{{country.title }}</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="#">More Places</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}