{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Куда вы бы хотели поехать?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">
                        <div class="input_field">
                            <input type="search" name="words" placeholder="В какую страну?">
                        </div>
                        <div class="input_field">
                            <button class="boxed-btn4" name="key_word" type="submit" style = "margin-left: -370px;">Искать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Страны</h3>
                    <p>В какую страну вы бы хотели поехать?</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for country in countries %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        {% for image in country.country_image.all %}
                        <img src="{{ image.image.url }}" alt="">
                        {% endfor %}
                        <a href="{% url 'country_detail' country.slug %}"
                            class="prise">{{country.hotel_country.all.count }} отелей</a>
                    </div>
                    <div class="place_info">
                        <a href="{% url 'country_detail' country.slug %}">
                            <h3>{{country.title }}</h3>
                        </a>
                        <p>{{country.description|truncatewords:10 }}</p>
                        <div class="rating_days d-flex justify-content-between">
                            <div>
                                {% if user.is_superuser %}
                                <a class="genric-btn info-border radius" href="{% url 'country_update' country.slug %}">Обновить</a>
                                <a class="genric-btn info-border radius" href="{% url 'country_delete' country.slug %}">Удалить</a>
                                {% endif %}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="{% url 'country_index' %}">Больше мест</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}