{% extends 'base_index.html' %}
{% block content %}
<div class="popular_places_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="place_info">
                        <div class="thumb">
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                            <a href="" class="prise">{{ user.socialaccount_set.all.0.extra_data.name }}</a>
                        </div>
                        <a href="">
                            <h3>{{ user.socialaccount_set.all.0.extra_data.name }}</h3>
                            <h3>{{ user.username }}</h3>
                        </a>
                        <p>Пол: {{ user.gender }}</p>
                        <p>Возраст: {{ user.age }}</p>
                        {% if user.is_superuser %}
                        <p>Номер: {{ user.phone_number }}</p>
                        {% endif %}
                        <div class="rating_days d-flex justify-content-between">
                            <div>
                                {% if user.is_superuser %}
                                <a class="genric-btn info-border radius"
                                    href="">Обновить</a>
                                <a class="genric-btn info-border radius"
                                    href="">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}