{% extends 'base_index.html' %}
{% block content %}
<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>{{ country.title }}</h3>
                    <p>{{ country.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">\
                        {% for image in user.user_image.all %}
                        <img src="{{ image.image.url }}" alt="">
                        {% endfor %}
                    </div>
                    <div class="place_info">
                        <a href=""></a><h3>{{ user.socialaccount_set.all.0.extra_data.name }}</h3></a>
                        <a href=""></a><h3>{{ user.username }}</h3></a>
                        <p>{{ user.age }}</p>
                        <p>{{ user.gender }}</p>
                        {% if user.is_superuser %}
                        <p>{{ user.phone_number }}</p>
                        <div>
                            {% if user.is_superuser %}
                            <a class="genric-btn info-border radius" href="" style = "margin-top: 10px;">Обновить</a>
                            <a class="genric-btn info-border radius" href="" style = "margin-top: 10px;">Удалить</a>
                            {% endif %}
                        </div>
                        {% endif %}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}