	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/12/2019 08:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.6da9f04234f3.eot");
  src: url("../fonts/Flaticon.6da9f04234f3.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.beb5ad932b79.woff2") format("woff2"),
       url("../fonts/Flaticon.e460169dbd85.woff") format("woff"),
       url("../fonts/Flaticon.b113c025bdc3.ttf") format("truetype"),
       url("../fonts/Flaticon.27b404c59aa8.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.27b404c59aa8.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-quote:before { content: "\f100"; }