{% extends 'base_index.html' %}
{% block content %}
<div class="popular_places_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="place_info">
                        <a href="">
                            <h3>{{ order.name }} {{ order.surname }}</h3>
                        </a>
                        <p>Отель: {{ order.order }}</p>
                        <p>Дата прибытия: {{ order.arrival_date }}</p>
                        <p>Дата отбытия: {{ order.departure_date }}</p>
                        <p>Статус: {{ order.status }}</p>
                        <div class="rating_days d-flex justify-content-between">
                            <div>
                                {% if user.is_superuser %}
                                <a class="genric-btn info-border radius"
                                    href="{% url 'order_update' order.pk%}">Обновить</a>
                                <a class="genric-btn info-border radius"
                                    href="{% url 'order_delete' order.pk%}">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}