{% extends 'detail_index.html' %}
{% block content %}
{% load static %}
{% for image in hotel.hotel_image.all %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <div class="slider_active owl-carousel">
                  <img class="img-fluid" src="{{ image.image.url }}" alt="">
                  </div>
               </div>
               <div class="blog_details">
                  <h2>Отель {{hotel.title}} {{post.total_views}}
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-user"></i>{{ hotel.user }}</a></li>
                     <li><a href="#"><i class="fa fa-comments"></i>{{ hotel.comment.all.count }} отзывов</a></li>
                  </ul>
                  <p class="excert">{{hotel.description}}</p>
                  <!-- Table -->
                  <div class="section-top-border">
                     <div class="progress-table-wrap">
                        <div class="progress-table">
                           <div class="table-head">
                              <div class="percentage">Оплата</div>
                              <div class="visit">Wifi</div>
                              <div class="visit">Бесплатная парковка</div>
                              <div class="visit">Стойка регистрации</div>
                              <div class="visit">Семейные номера</div>
                              <div class="visit">Номера для некурящих</div>
                           </div>
                           <div class="table-row">
                              <div class="percentage">{{hotel.price}} {{ hotel.payment}} за один день</div>
                              <div class="visit">{{hotel.wifi}}</div>
                              <div class="visit">{{hotel.parking}}</div>
                              <div class="visit">{{hotel.front_desk}}</div>
                              <div class="visit">{{hotel.family_rooms}}</div>
                              <div class="visit">{{hotel.non_smoking_rooms}}</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% if user.is_authenticated %}
            <div class="more_place_btn text-center">
               <a class="boxed-btn4" href="{% url 'order_create' %}">Бронировать</a>
            </div>
            {% else %}
            <div class = "row">
               <h4>Зарегистрируйтесь или войдите чтобы забронировать отель и ставить лайки</h4>
            </div>
            {% endif %}
            <div class="navigation-top">
               <div class = "container">
                  {% if user.is_authenticated %}
                  <form method="post">
                     {% csrf_token %}
                     <input type="hidden" name="like">
                     <button type="submit" class="genric-btn info-border radius" style = "margin-top: 10px">Понравилось</button>
                 </form>
                 {% endif %}
               </div>
               <div class="d-sm-flex justify-content-between text-center">
                  <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span>
                     {{ hotel.likes_hotel.all.count }}
                     человеку понравилось</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                  <ul class="social-icons">
                     <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                     <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
               </div>
            </div>
            <div class="comments-area">
               <h4>{{ hotel.comment.all.count }} отзыва</h4>
               {% for comment in hotel.get_parent %}
               <div class="comment-list">
                  <div class="single-comment justify-content-between d-flex">
                     <div class="user justify-content-between d-flex">
                        <div class="thumb">
                           <img src="img/comment/comment_1.png" alt="">
                        </div>
                        <div class="desc">
                           <p class="comment">
                              {{ comment.text }}
                           </p>
                           <div class="d-flex justify-content-between">
                              <div class="d-flex align-items-center">
                                 <h5>
                                    <a href="#">{{ comment.user }}</a>
                                 </h5>
                                 <p class="date">{{ comment.comment_created }}</p>
                              </div>
                              <div class="reply-btn">
                                 <a href="#" class="btn-reply text-uppercase">reply</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <div class="comment-form">
               <h4>Leave a Reply</h4>
               <form method="post" class="form-contact comment_form" action="#" id="commentForm">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-12">
                        <div class="form-group">
                           <input type="hidden" name="comment" value="{{ comment.id }}">
                           <textarea class="form-control w-100" rows="4" cols="100" name="text"
                              placeholder="Написать отзыв"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                  </div>
               </form>
            </div>
            {% else %}
            <div class = "row">
               <h4>Зарегистрируйтесь или войдите чтобы оставлять коментарий</h4>
            </div>
            {% endif %}
         </div>
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget popular_post_widget">
                  <h3 class="widget_title">Похожие отели</h3>
                  {% for hotel in similar_hotels %}
                  <div class="media post_item">
                     {% for image in hotel.hotel_image.all %}
                     {% if forloop.counter == 1  %}
                     <img src="{{ image.image.url }}" width="100px" alt="post">
                     {% endif %}
                     {% endfor %}
                     <div class="media-body">
                        <a href="single-blog.html">
                           <h3>{{ hotel.title }}</h3>
                        </a>
                        <p>{{ hotel.created }}</p>
                     </div>
                  </div>
                  {% endfor %}
               </aside>
               <aside class="single_sidebar_widget newsletter_widget">
                  <h4 class="widget_title">Новостная рассылка</h4>
                  <form action="#">
                     <div class="form-group">
                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Ваш email' required>
                     </div>
                     <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Подписаться</button>
                  </form>
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================ Blog Area end =================-->
{% endfor %}
{% endblock %}